// ----------------------------------------------------------------------
	// Layout Breakpoints
// ----------------------------------------------------------------------
$sassyLarge: 1280;
$sassyMed: 1040;
$sassySmall: 600;
$sassyXSmall: 400;
$full-width:100%;

// ----------------------------------------------------------------------
	// Font Sizes
// ----------------------------------------------------------------------
$regularSize: 12;

// ----------------------------------------------------------------------
	// Font Families
// ----------------------------------------------------------------------
$roboto: 'Roboto', sans-serif;

// ----------------------------------------------------------------------
  // Grid
// ----------------------------------------------------------------------
$grid-columns: 12;

// ----------------------------------------------------------------------
  // Color
// ----------------------------------------------------------------------
$menuBackground: #ec1561;
$linkGold: #ffbf68;
$linkHover:#fff3e6;
$contentColor:white;


